@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Satoshi";
  src: url('../fonts/Satoshi-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url('../fonts/Satoshi-Medium.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url('../fonts/Satoshi-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url('../fonts/Satoshi-Black.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Batusa";
  src: url('../fonts/Batusa.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Royal-Exq";
  src: url('../fonts/royalexquisite.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GameCube";
  src: url('../fonts/GameCube.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Photograph-Signature";
  src: url('../fonts/Photograph-Signature.ttf');
  font-weight: 700;
  font-style: normal;
}

.font-Batusa{
  font-family: 'Batusa' , sans-serif;
  font-weight: 400;
}
.font-Photograph-Signature{
  font-family: 'Photograph-Signature' , sans-serif;
  font-weight: 700;
}

.font-Royal-Exq{
  font-family: 'Royal-Exq' , sans-serif;
  font-weight: 400;
}

.font-GameCube{
  font-family: 'GameCube' , sans-serif;
  font-weight: 300;
}

.base {
  font-family: 'Satoshi' , sans-serif;
  font-weight: 400;
}

.semibold {
  font-family: 'Satoshi' , sans-serif;
  font-weight: 600;
}

.bold {
  font-family: 'Satoshi' , sans-serif;
  font-weight: 700;
}

.xbold {
  font-family: 'Satoshi' , sans-serif;
  font-weight: 900;
}

.swiper-slide{
  margin-bottom: 60px;
}



@layer components {
  .title-blog {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-pink-800 to-purple-700
  }
}